body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding-block-end: 4px;
}

ul .icon-button {
  margin-inline-end: 4px;
}

.layout {
  display: grid;
  grid-template-columns: 350px 1fr;
}

.sidebar {
  border-inline-end: 1px solid black;
  background-color: gainsboro;
}

body.dark {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body.dark .sidebar {
  background-color: black;
}

.content,
.sidebar {
  padding: 20px;
  height: 100vh;
}

.icon-button {
  width: 25px;
  height: 25px;
  padding: 0;
  display: inline-block;
}

.ribbon {
  display: flex;
  gap: 6px;
  align-items: center;
}

h3 > small {
  font-weight: initial;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.plain-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

.plain-button:disabled {
  color: #eeeeee;
}

.input-with-clear {
  position: relative;
  display: flex;
  align-items: center;
}

.input-with-clear .plain-button {
  position: absolute;
  right: 0;
}

.input-with-clear .plain-button {
  margin-inline-end: 6px;
}

.toast {
  position: absolute;
  bottom: 10px;
  background-color: #333333;
  color: white;
  padding: 6px;
  border-radius: 4px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen {
  width: 100vw;
  height: 100vh;
  display: grid;
}
